<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dictafono.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Dictafono</name>
  <description>Aplicación de dictado voz a texto</description>
  <author email="autor@example.com">Autor</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-navigation href="*" />
  <preference name="SplashScreenDelay" value="0" />
  <preference name="AndroidInsecureFileModeEnabled" value="true" />
  <preference name="AllowInlineMediaPlayback" value="true" />
  <preference name="ScrollEnabled" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackupWebStorage" value="none" />
  <preference name="AndroidPersistentFileLocation" value="Internal" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <plugin name="cordova-plugin-speechrecognition" />
  <plugin name="cordova-plugin-android-permissions" />
</widget>
